<form action="/todos" method="POST" style="display: inline;">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="name" name="name" value="{{ todo.name }}">
    <button type="submit" class="btn btn-success">create</button>
  </div>
</form>